<div class="match-card-container">
  <div matchConnectionDraw [bracketIndex]="bracketIndex" [matchIndex]="matchIndex" class="match-content">
    Match Number: {{matchIndex}}
    <brackets-fighter *ngIf="match.player1" [player]="match.player1"></brackets-fighter>
    <div *ngIf="!match.player1">PlaceHolder Undefined Player</div>
    <brackets-fighter *ngIf="match.player2" [player]="match.player2"></brackets-fighter>
    <div *ngIf="!match.player2">PlaceHolder Undefined Player</div>
  </div>
</div>