.match-card-container {
    height: 88px; //this needs to be DOUBLE the size height of .card-frame height+margintop+marginbottom in fighter.component.scss
    width: 184px;
    display: flex;
    align-content: center;
    border-radius: 2px;

    .match-content {
        position: relative;
        height: 100%;
        width: 100%;
        margin: auto;
    }
}