
.frame-container {
    // set up infinite width of tournament
    height: 100%;
    width: 100%;
    overflow:auto;
    overflow-y: hidden;
    white-space:nowrap;
    display: inline-flex;
    position: relative;

    .bracket {
        margin-right: 20px;

        .match {
            margin-bottom: 10px;
        }
    }
}