.card-frame {
    background-color: #303030;
    border: 1px solid #375a7f;
    border: 1px solid #37687f;
    border-radius: 2px;
    width: 90%;
    height: 36px; //this + margin top + margin bottom needs to be HALF the size height of .match-card-container in match.component.scss
    line-height: 36px;
    font-size: 14px;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;

    display: flex;
    flex-direction: row;

    &:hover {
        border: 1px solid #65bae2;
    }

    .icon-box {
        background-color: #444;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        width: 20%;
        height: 100%;
    }

    .fighter-name {
        width: 80%;
        height: 100%;
        box-sizing: border-box;
        padding-left: 6px;
        padding-right: 6px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}